/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  min-height: 75rem;
  padding-top: 1rem;
  background-color: #f8f7f6;
}

main.container {
  padding: 60px 15px 0;
}

.navbar-dark {
  background-color: #4D577C !important;
}

.container {
  background-color: #fff;
}

.modal-dialog{
  position: relative;
  display: table; /* This is important */ 
  overflow-y: auto;    
  overflow-x: auto;
  width: auto;
  min-width: 300px;   
}