body{
    background-color: #ddd;
}

.header {
    height:40px;
}

.content{
    min-height:500px;
}

.sidebar{
    min-height:550px;
}
.main-content{
    min-height:550px;
    border: 1px solid #eee;
}

.footer{
    height:40px;

}